@media only screen and (min-width: 1180px) {
  header {
    margin: 2.08vw auto 0;
    padding: 0.52vw 6.25vw;
    height: 5.21vw;
    width: 48.96vw;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    border-radius: 1.04vw;
    justify-content: space-between;

    background-color: #181818;
    transition: all 0.9s;
    transform: translateY(-30%);
    opacity: 0;
  }

  .animationTop {
    transform: translateY(0);
    opacity: 1;
  }
  
  header .logo {
    width: 4.38vw;
    height: 2.08vw;
  }
  .navigator {
    display: flex;
    align-items: center;
    gap: 2.5vw;

    font-size: 0.83vw;
    list-style: none;
  }
  .navigator li {
    text-align: center;
  }
  .navigator li:hover {
    /* font-size: 0.78vw; */
    font-weight: 700;
  }
  .langChange ul {
    position: absolute;
    margin-top: -1.56vw;
    margin-left: -5.73vw;
    padding: 0.63vw 1.25vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.83vw;

    border-radius: 0.52vw;
    border: 0.05vw solid #595959;
    background: #000;
  }
  .langHide li:not(.languageActive) {
    display: none;
  }
  .langShow {
    display: flex;
    flex-direction: column;
    transition: 800ms;
    gap: 0.83vw;
  }
  .langShow a:hover {
    color: #7d3bd1;
  }
  .langChange a,
  .languageActive {
    display: block;
    padding-right: 1.77vw;
    padding-top: 0.21vw;
    width: 1.77vw;
    height: 1.25vw;
    text-align: center;
    align-items: center;

    color: #fcfcfc;
    font-family: Montserrat;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 600;
  }

  .langChange ul li a {
    margin-top: 0.52vw;
  }

  .langHide {
    margin-left: 20px;
  }

  .langHide .langImg {
    position: absolute;
    transform: rotate(180deg);
    margin-top: -0.9vw;
    margin-left: -1.88vw;
    transition: 0.5s;
    cursor: pointer;
    width: 1.25vw;
    height: 1.25vw;
  }
  .langShow .langImg {
    position: absolute;
    margin-top: -0.7vw;
    transition: 0.5s;
    margin-left: -1.88vw;
    cursor: pointer;
    width: 1.25vw;
    height: 1.25vw;
  }
  header .hide {
    display: none;
  }
  header .show {
    display: none;
  }
  .langChange {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1179px) {
  header {
    margin-top: 0;
    padding: 10vw 5vw;
    height: min-content;
    width: 90vw;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: all 0.9s;
    transform: translateY(-30%);
    opacity: 0;
    border-radius: 2.6vw;
    justify-content: space-between;

    background: transparent;
  }
  .langChange {
    margin-left: 28.65vw;
    margin-top: 1.3vw;
  }
  .animationTop {
    opacity: 1;
    transform: translateY(0);
  }
  header .logo {
    width: 13.13vw;
  }
  header .navigator {
    display: none;
  }

  .langChange ul {
    position: absolute;
    width: 24.83vw;
    margin-top: -7vw;
    margin-left: 0;
    padding: 0.63vw 1.25vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;

    border-radius: 1vw;
    border: 0;
    /* background: #000; */
  }
  .langHide li:not(.languageActive) {
    display: none;
  }
  .langShow {
    display: flex;
    flex-direction: column;
    gap: 0;   
  }
  .langShow a:hover {
    color: #7d3bd1;
  }
  .langChange a,
  .languageActive {
    display: block;
    padding-right: 0;
    padding-top: 0;
    width: auto;
    height: auto;
    padding: 0;
    margin: 4vw 1.33vw;
    padding-right: 9.33vw;
    text-align: center;
    align-items: center;

    color: #fcfcfc;
    font-family: Montserrat;
    font-size: 2.08vw;
    font-style: normal;
    font-weight: 600;
  }

  .langHide .langImg {
    position: absolute;
    transform: rotate(180deg);
    margin-top: -2.67vw;
    margin-left: 12.53vw;
    width: 3.13vw;
    height: 3.13vw;
  }
  .langShow .langImg {
    position: absolute;
    margin-top: -2.75vw;
    margin-left: 12.53vw;
    width: 3.13vw;
    height: 3.13vw;
  }
  .HamburgerMenuNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100vw;
    height: 100vh;
  }

  .HamburgerMenu {
    position: relative;
    display: block;
  }
  .HamburgerMenu img {
    width: 6.25vw;
    display: none;
  }
  header .hide .HamburgerMenuNav {
    top: 0;
    left: 200vw;
    transition: 800ms;
  }
  header .show .HamburgerMenuNav {
    top: 0;
    left: 0;
    transition: 1s;
  }
  .HamburgerMenuNav img {
    position: absolute;
    top: 8vw;
    right: 4vw;
  }
  .HamburgerMenuNav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    background-color: #000;
    margin-top: 25vw;
  }
  .HamburgerMenuNav ul li {
    color: #fcfcfc;
    font-family: Montserrat;
    font-size: 7vw;
    font-style: normal;
    font-weight: 400;
  }
  .HamburgerMenuNav ul li:hover a {
    color: #7d3bd1;
    font-weight: 700;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .HamburgerMenuContainerLanguage {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .HamburgerMenuContainerLanguage {
    display: flex;
    gap: 6.4vw;
  }
  .HamburgerMenuContainerLanguage button {
    background: black;
    width: 6.4vw;
    height: 5.33vw;
    outline: none;
    border: 0;
  }
  .langChange {
    margin-left: 0;
  }
  .HamburgerMenuContainerLanguage button a {
    font-family: Montserrat;
    font-size: 4.278vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .HamburgerMenuContainerLanguage div {
    width: 1px;
    height: 5.33vw;
    background: #181818;
  }
  .langChange {
    display: none;
  }
  header .logo {
    width: 22.4vw;
  }
  .HamburgerMenu img {
    width: 12.8vw;
    display: block;
  }
}
