@media only screen and (min-width: 1180px) {
  #services {
    margin: 2.81vw 0;
    padding: 0;
  }

  #services{
    animation: 5s show ease;
  }
  
  @keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  #services h2 {
    margin: 0;
    padding: 0;

    text-align: start;

    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.92vw;
    font-style: normal;
    font-weight: 700;
  }
  .servicesCards {
    margin: 0;
    padding: 0;
    margin-top: 5.21vw;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.56vw;
    transition: all 0.9s;
    transform: translateX(30%);
    opacity: 0;
  }

  .animationBottom {
    transform: translateX(0%);
    opacity: 1;
  }

  .servicesCards a {
    opacity: 1;
  }

  .servicesFragment {
    margin: 0;
    padding: 0;
    padding: 3.13vw 0.52vw;
    width: 18.39vw;
    min-height: 18.44vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.08vw;
    transition: 0.5s;
    border-radius: 2.08vw;
    border: 0.05vw solid transparent;
    background: #181818;
  }
  .servicesFragment:hover {
    border: 0.05vw solid #bd00ff;

  }
  .servicesFragment ul {
    margin: 0;
    padding: 0;
    width: 11.98vw;
    height: 10.42vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.73vw;
  }
  .servicesFragment li {
    margin: 0;
    margin-left: 1.56vw;
    padding: 0;
    width: 10.42vw;
    height: 1.56vw;

    color: #cfcfcf;

    font-family: Montserrat;
    font-size: 0.94vw;
    font-style: normal;
    font-weight: 400;
    list-style: url("../../img/Line4.svg");
    line-height: 1.51vw;
    letter-spacing: 0;
  }
  .servicesFragment a {
    display: block;
  }
  .servicesFragment .serviceButton {
    margin: 0;
    padding: 0;
    width: 11.98vw;

    display: flex;
    align-items: center;
    gap: 0.63vw;
    transition: 300ms;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .servicesFragment .serviceButton:hover {
    color: #7d3bd1;
  }

  .servicesFragment .serviceButton p {
    font-size: 0.83vw;
    transition: 0.5s;
  }
  .servicesFragment .serviceButton img {
    margin: 0;

    padding: 0;
    width: 0.78vw;
    height: 0.78vw;
    display: block;

    transition: 200ms;
  }
  .servicesFragment .serviceButton:hover p {
    color: #bd00ff;
  }
  .servicesFragment .serviceButton:hover {
    gap: 0.8vw;
  }
  .servicesFragment .serviceButton:hover img {
    opacity: 0;
  }
  .servicesFragment .serviceButton .leftPurple {
    margin-left: -1.41vw;
    opacity: 0;
  }
  .servicesFragment .serviceButton:hover .leftPurple {
    opacity: 1;
  }
  .servicesFragment h3 {
    margin: 0;
    padding: 0;
    width: 11.98vw;
    font-family: Montserrat;
    font-size: 1.67vw;
    font-style: normal;
    font-weight: 600;
  }
  .servicesFragment .serviceHeader1 {
    background: linear-gradient(119deg, #61b554 21.38%, #76a90a 129.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .servicesFragment .serviceHeader2 {
    background: linear-gradient(119deg, #bd00ff 21.38%, #3604c3 129.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .servicesFragment .serviceHeader3 {
    background: linear-gradient(119deg, #fc7057 21.38%, #f66e54 129.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media only screen and (max-width: 1179px) {
  #services {
    margin: 2.81vw 0;
    padding: 0;
  }
  
  .serviceAnim {
    transition: all 0.9s;
    opacity: 0;
    transform: translateX(-30%);
  }

  .servicesFragmentAnimation1 {
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.9s;
  }
  .servicesFragmentAnimation2 {
    opacity: 0;
    transform: translateX(80%);
    transition: all 0.9s;
  }
  .servicesFragmentAnimation3 {
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.9s;
  }
  #services h2 {
    margin: 0;
    padding: 0;
    width: 74.48vw;

    text-align: start;

    color: #fff;
    font-family: Montserrat;
    font-size: 8.33vw;
    font-style: normal;
    font-weight: 700;
  }
  .servicesCards {
    margin: 0;
    padding: 0;
    margin-top: 5.21vw;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.56vw;
  }
  .servicesFragment {
    margin: 0;
    padding: 0;
    padding: 6.64vw 7.29vw;
    width: 29.04vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.17vw;

    border-radius: 5.21vw;
    border: 0.05vw solid transparent;
    background: #181818;
  }
  .servicesFragment:hover {
    border: 0.05vw solid #bd00ff;
  }
  .servicesFragment ul {
    margin: 0;
    padding: 0;
    width: 29.04vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.82vw;
  }
  .servicesFragment li {
    margin: 0;
    margin-left: 1.56vw;
    padding: 0;
    width: 27.47vw;
    height: 3.91vw;
    white-space: nowrap;

    color: #cfcfcf;

    font-family: Montserrat;
    font-size: 2.34vw;
    font-style: normal;
    font-weight: 400;
    list-style: url("../../img/Line4.svg");
    line-height: 1.51vw;
    letter-spacing: 0;
  }
  .servicesFragment a {
    display: block;
  }
  .servicesFragment .serviceButton {
    margin: 0;
    padding: 0;
    width: 29.04vw;

    display: flex;
    align-items: center;
    gap: 1.63vw;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .servicesFragment .serviceButton p {
    font-size: 2.34vw;
    font-style: normal;
    font-weight: 600;
  }
  .servicesFragment .serviceButton img {
    margin: 0;
    padding: 0;
    width: 1.82vw;
    height: 1.04vw;
    opacity: 1;
  }
  .servicesFragment .serviceButton .leftPurple {
    margin-left: -1.41vw;
    opacity: 0;
  }
  .servicesFragment .serviceButton:hover {
    gap: 0.8vw;
  }
  .servicesFragment .serviceButton:hover p {
    color: #7d3bd1;
  }
  .servicesFragment .serviceButton:hover img {
    gap: 0.8vw;
    opacity: 0;
  }
  .servicesFragment .serviceButton:hover .leftPurple {
    opacity: 1;
  }
  .servicesFragment h3 {
    margin: 0;
    padding: 0;
    width: 29.04vw;
    font-family: Montserrat;
    font-size: 4.17vw;
    font-style: normal;
    font-weight: 600;
  }
  .servicesFragment .serviceHeader1 {
    background: linear-gradient(119deg, #61b554 21.38%, #76a90a 129.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .servicesFragment .serviceHeader2 {
    background: linear-gradient(119deg, #bd00ff 21.38%, #3604c3 129.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .servicesFragment .serviceHeader3 {
    background: linear-gradient(119deg, #fc7057 21.38%, #f66e54 129.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .tablet .servicesCards a:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .tablet .servicesCards a:nth-child(3) .servicesFragment {
    margin: 0;
    padding: 0;
    padding: 3.13vw 0.52vw;
    width: auto;
    height: 12.63vw;
    min-height: 18.44vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.17vw;

    border-radius: 5.21vw;
    border: 0.05vw solid transparent;
    background: #181818;
  }
  .tablet .servicesCards a:nth-child(3) .servicesFragment ul {
    display: flex;
    flex-direction: row;
    width: 45.83vw;
    gap: 7.81vw;
  }
  .tablet .servicesCards a:nth-child(3) .servicesFragment h3 {
    width: 74.09vw;
  }
  .serviseInfo {
    padding-left: 2.6vw;
    width: 74.48vw;
    gap: 7vw;
    display: flex;
    align-items: baseline;
  }
  .animationLeft {
    opacity: 1;
    transform: translateX(0%);
  }
}
@media only screen and (max-width: 767px) {
  #services {
    margin: 4.27vw 0;
    padding: 0;
  }
  #services h2 {
    margin: 0;
    padding: 0;
    width: 91.47vw;

    text-align: start;

    color: #fff;
    font-family: Montserrat;
    font-size: 10.67vw;
    font-style: normal;
    font-weight: 700;
  }
  .servicesCards {
    margin: 0;
    padding: 0;
    margin-top: 5.21vw;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 6.4vw;
  }
  .servicesFragment {
    margin: 0;
    padding: 0;
    padding: 14.93vw 16vw;
    width: auto;
    min-height: 18.44vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8.53vw;

    border-radius: 10.67vw;
    border: 0.05vw solid transparent;
    background: #181818;
  }
  .servicesFragment:hover {
    border: 0.05vw solid #bd00ff;
  }
  .servicesFragment h3 {
    margin: 0;
    padding: 0;
    width: 60vw;
    font-family: Montserrat;
    font-size: 8.53vw;
    font-style: normal;
    font-weight: 600;
  }
  .servicesFragment ul {
    margin: 0;
    padding: 0;
    width: 59.47vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3.73vw;
  }
  .servicesFragment li {
    margin: 0;
    margin-left: 6.67vw;
    padding: 0;
    width: auto;
    height: 8vw;

    color: #cfcfcf;

    font-family: Montserrat;
    font-size: 4.8vw;
    font-style: normal;
    font-weight: 400;
    list-style: url("../../img/Line4.svg");
    line-height: 0;
    letter-spacing: 0;
  }
  .servicesFragment a {
    display: block;
  }
  .servicesFragment .serviceButton {
    margin: 0;
    padding: 0;
    width: auto;
  }
  .servicesFragment .serviceButton p {
    margin: 0;
    padding: 0;

    font-size: 4.27vw;
    font-style: normal;
    font-weight: 600;
  }
  .servicesFragment .serviceButton:hover {
    color: #7d3bd1;
  }

  .servicesFragment .serviceButton {
    margin: 0;
    padding: 0;
    width: 59.47vw;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3.63vw;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .servicesFragment .serviceButton p {
    font-size: 4.27vw;
    font-style: normal;
    font-weight: 600;
  }
  .servicesFragment .serviceButton img {
    margin: 0;
    padding: 0;
    width: 3.73vw;
    height: 2.13vw;
    opacity: 1;
  }
  .servicesFragment .serviceButton .leftPurple {
    margin-left: -1.41vw;
    opacity: 0;
  }
  .servicesFragment .serviceButton:hover {
    gap: 0.68vw;
  }
  .servicesFragment .serviceButton:hover p {
    color: #7d3bd1;
  }
  .servicesFragment .serviceButton:hover img {
    gap: 0.68vw;
    opacity: 0;
  }
  .servicesFragment .serviceButton:hover .leftPurple {
    opacity: 1;
  }

  .servicesFragment .serviceHeader1 {
    background: linear-gradient(119deg, #61b554 21.38%, #76a90a 129.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .servicesFragment .serviceHeader2 {
    background: linear-gradient(119deg, #bd00ff 21.38%, #3604c3 129.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .servicesFragment .serviceHeader3 {
    background: linear-gradient(119deg, #fc7057 21.38%, #f66e54 129.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
